<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Classifying Photos!</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/classify.css') }}">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <h1> Organized Folders are ready to download! </h1>

        <p> Thank you for using our webpage </p>

        <img src="https://www.hallmarkbusiness.com/dw/image/v2/AALB_PRD/on/demandware.static/-/Sites-hbc-master/default/dw72c9cf81/product-surfaces/1HBC0324_COV.jpg?sw=1280&sh=1280&sm=fit" alt="thankyou" width="555" height="288">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div style="height:14px; width:100%; clear:both;"></div>

        <p align="center">
            <a class="download" href="/classify/download">Download</a>
        </p>

        <br>
        <div style="height:14px; width:100%; clear:both;"></div>
        <a href="/annotations" class="previous">&laquo; Previous</a>
        <a href="/" class="next">Home &raquo;</a>
        <div style="height:14px; width:100%; clear:both;"></div>
        <form action="" style="text-align:center;background-color:tomato;width:100%;">
            <a href = "{{url_for('classify_reset')}}" style="color:white;width:100%;">Reset (Start Over)</a>
        </form>
        {% endblock %}
    </body>
</html>
